.authenticate-window {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

.name-label,
.password-label {
  display: block;
}

.input-text {
  display: block;
  margin: 15px auto;
  height: 30px;
  padding-top: 5px;
  padding-left: 1rem;
  border: 1px solid rgb(211, 205, 205);
  border-radius: 5px;
  font-size: 1.1rem;
  text-align: left;
}

.input-text:hover {
  border: 1px solid rgb(153, 149, 149);
}

.login-button {
  background-color: rgb(235, 235, 50);
  height: 55px;
  width: 120px;
  color: rgb(44, 89, 236);
  font-weight: bold;
  text-align: center;
  position: relative;
}

.login-button:hover {
  background-color: rgb(219, 181, 9);
  color: rgb(28, 53, 134);
  cursor: pointer;
}
