.new-task-title{
    display: inline-block;
    margin: auto;
    height: 30px;
    padding-top: 5px;
    padding-left: 1rem;
    border: 1px solid rgb(211, 205, 205);
    border-radius: 5px;
    font-size: 1.1rem;
    text-align: left;
    width: 95%;
}

.create-task-container {
    width: 75%;
}

.new-task-title:hover{
    border: 1px solid rgb(153, 149, 149);
}

.create-task-container textarea:hover{
    border: 1px solid rgb(153, 149, 149);
}

.create-task-container textarea{
    font-size: 1.1em;
}