.suggestion-form-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.suggestion-form-header {
  color: rgba(0, 153, 255, 0.808);
  margin: 20 auto;
  text-align: center;
  font-size: 40px;
}

.new-suggestion-form {
  display: block;
}

.name-form {
  display: inline-block;
  margin: 0px 50px 0 5px;
  height: 30px;
  padding-top: 5px;
  border: 1px inset gray;
  border-radius: 5px;
  font-size: 1.1rem;
  text-align: left;
}
.department-select {
  display: inline-block;
  width: 200px;
  margin: 0 50px 0 5px;
}
.department-select Select {
  display: inline;
  position: relative;
}

.shift-select {
  display: inline-block;
  width: 100px;
  margin: 0 50px 0 5px;
}
.shift-select Select {
  display: inline;
  margin: 0 50px 0 5px;
  position: relative;
}
.waste-select {
  display: inline-block;
  width: 250px;
  margin: 0 50px 0 5px;
}
.waste-select Select {
  display: inline;
  margin: 0 50px 0 5px;
}

.current-situation-text {
  display: block;
}

.suggestion-text {
  display: block;
}

.comments-text {
  display: block;
}

label {
  display: inline;
}

.current-label {
  display: block;
  margin: 20px 0 15px 0;
}

.suggestion-label {
  display: block;
  margin: 20px 0 15px 0;
}

.comment-label {
  display: block;
  margin: 20px 0 15px 0;
}

textarea {
  width: 100%;
  max-width: 1200px;
  height: 250px;
  resize: none;
  margin-top: 10px;
}

.suggestion-title {
  display: block;
  margin-top: 25px;
}

#title-input {
  margin-left: 15px;
  width: 300px;
}

label > div {
  display: inline;
}
