.header_title {
  background-color: rgba(0, 153, 255, 0.808);
  color: white;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
}

.main_menu li {
  all: unset;
  position: relative;
  margin: auto;
  padding: 5px 5px 5px 5px;
}
