.project-window {
  position: relative;
  display: block;
  margin: 20px auto;
  max-width: 1200px;
}

.project-window h3 {
  font-size: 2.2rem;
  text-align: center;
  color: rgb(67, 145, 247);
}

label {
  white-space: nowrap;
  font-size: 1.2rem;
}

label > p {
  font-size: larger;
  display: inline;
  margin: 0 5rem 0 1rem;
  font-weight: bold;
  color: rgb(67, 145, 247);
}

span {
  display: block;
  margin-bottom: 1.2rem;
}

.description-text {
  background: rgb(236, 236, 195);
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 10px;
  margin-bottom: 40px;
}

.suggestion-date {
  text-align: right;
  font-size: larger;
  font-weight: bold;
}

.description-label {
  font-size: 1.5rem;
  text-align: center;
}

.status-select {
  display: inline-block;
  width: 150px;
  margin-left: 2rem;
}

.reviewer-label {
  display: block;
  margin: 20px 0 15px 0;
}

.reviewer-description-text {
  background: rgb(184, 184, 7);
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 10px;
  margin-bottom: 40px;
  color: rgb(25, 28, 218);
  font-weight: bold;
}

textarea {
  width: 99%;
  max-width: 1200px;
  height: 250px;
  resize: none;
  margin-top: 10px;
}

.reviewer-submit-button {
  background-color: rgb(235, 235, 50);
  height: 55px;
  width: 120px;
  color: rgb(44, 89, 236);
  font-weight: bold;
  text-align: center;
  position: relative;
  display: block;
  margin: 2rem auto 2rem auto;
}

.reviewer-submit-button:hover {
  background-color: rgb(219, 181, 9);
  color: rgb(28, 53, 134);
  cursor: pointer;
}
